<div class="col-lg-4">
    <table class="table table-hover">
        <thead>
        <tr><th>Name</th><th>Age</th><th>Actions</th></tr>
        </thead>
        <tbody>
        <tr ng-repeat="student in students">
            <td>{{student.Name}}</td>
            <td>{{student.Age}}</td>
            <td><a href="/Student/{{student.Id}}"><i class="glyphicon windows-icon-edit" title="Update info"></i></a> | <a href="javascript:void(0)" ng-click="$parent.removeStudent(student.Id,student)"><i class="glyphicon windows-icon-cancel" title="Delete"></i></a></td>
        </tr>
        </tbody>
    </table>
</div>
