<div class="col-lg-4">
    <form>
        <fieldset>
            <legend>Edit Info</legend>
            <div class="form-group">
                <label>Name</label>
                <input class="form-control" id="userName" ng-model="student.Name" />
            </div>
            <div class="form-group">
                <label>Age</label>
                <input class="form-control" id="userAge" ng-model="student.Age" />
            </div>
            <div class="form-group">
                <button class="btn" ng-click="updateInfo(student)">Save</button>
                <button type="reset" class="btn">Cancel</button>
            </div>
        </fieldset>
    </form>
</div>

