<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <div class="navbar-brand">
                <a href="/">Home</a>
            </div>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/Students">Students</a></li>
            </ul>
        </div>
    </div>
</div>
@*<div class="col-lg-5">

    <a href="#" ng-click="appendGreeting()">Append greeting</a><br/>
        <div id="greetingDiv"></div>
        <br/>
        Key: <input type="text" ng-model="keyuser"/><br/>
        Value: <input type="text" ng-model="valueuser"/><br/>
        <button ng-click="addCache(keyuser,valueuser)">Add Cache</button><br/>
        Search key: <input type="text" ng-model="sKey"/><br/>
        <span>{{getCache(sKey)}}</span><br/>
        <span>{{cachestats()}}</span>
    </div>*@

<div ng-view></div>

@*<div class="col-lg-5" ng-controller="localeSample">
        My Date: {{myDate|date:myFormat}}
    </div>

    <div class="col-lg-5" ng-controller="cookieSample">
        {{cookie()}}
    </div>*@

@section scripts{
    <script src="~/Scripts/i18n/angular-locale_de-de.js"></script>
    @*<script src="~/Scripts/i18n/angular-locale_en-in.js"></script>*@
    <script src="~/Scripts/app/controllers/studentinfo.js"></script>
    <script src="~/Scripts/app/services/stDataService.js"></script>
    <script src="~/Scripts/app/services/myCache.js"></script>
    @*<script src="~/Scripts/app/services/exceptionserv.js"></script>*@
    <script src="~/Scripts/app/controllers/stController.js"></script>
}
